.parent{
    display:grid;
    grid-template-columns: auto auto;
    height:300px;
    border:1px solid black

}
div div{
    border:1px solid black;
}
.item1{
    grid-column: 1/3;
    border:1px solid black;
    


}