/* Reset some basic spacing */
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}


header {
    background: #ddd;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border: 1px solid #ccc;
}


nav ul {
    list-style: none;
    background: #eee;
    border: 1px solid #ccc;
    padding: 15px;
}

nav ul li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

nav ul li:last-child {
    border-bottom: none;
}


main {
    display: flex;
    gap: 20px;
    margin: 20px;
}


aside {
    background: #e2e2e2;
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
}


section {
    background: #ffffff;
    width: 70%;
    padding: 20px;
    border: 1px solid #ccc;
}


footer {
    background: #ddd;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 20px;
}
*/
body {
    margin: 0;
}

header div:first-child {
    float: left;
    background: red;
    width: 25%;
    padding: 20px;
    border: 1px solid black;
}

header div:nth-child(2) {
    float: left;
    background: red;
    width: 30.3%;
    padding: 20px;
    border: 1px solid black;
}

.cl {clear:both;
}
nav ul{
    width: 50%;
    background-color: aqua;
    list-style: none;
    background: #eee;
    border: 1px solid #ccc;
    padding: 15px;

}
nav ul li {
    padding: 8px 0;
    border-bottom: 1px solid blue;
}

nav ul li:last-child {
    border-bottom: none;
}