body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 120px;

}

.header-left {
    background-color: blue;
    flex: 1;
    padding: 30px;
    color: white;
    justify-content: center;
    align-items: center;
}

.header-right {
    background-color: rgb(53, 3, 3);
    flex: 2;
    padding: 30px;
    color: white;
    justify-content: center;
    align-items: center;
}

nav {
    background: tomato;
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

nav.menu-item {
    background: yellow;
    padding: 10px border: 1px solid black;
}

main {
    display: flex;
    height: 200px;
}

left {
    background: blue;
    flex: 1;
    padding: 30px;
    color: white;
    justify-content: center;
    align-items: center;
}

right {
    background: lightblue;
    flex: 2;
    padding: 30px;
    justify-content: center;
    align-items: center;

}

footer {
    background: lightgreen;
    padding: 40px;
    text-align: center;
    font: size 20px;
    justify-content: center;
    align-items: center;
    font-size: 22px;

}