body {
    font-family: Arial;
    margin: 0;
    padding: 20px;
}

.container {
    width: 100%;
    display: flex;
    margin: auto;
    border: 1px solid black;

}

.top-row {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid black;
}

.box {
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-content: center;

    background: #ccc;
    border-radius: 5px;
    border: 1px solid black;
}

.middle-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 20px 0;
    border: 1px solid black;
}

.tall-box {
    display: flexbox;

    width: 33%;

    height: 200px;
    background: #e0e0e0;
    border-radius: 5px;
    border: 1px solid black;
}

.two-col {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    border: 1px solid black;
}

.left-col,
.right-col {
    flex: 1;
    height: 200px;
    background: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.footer {
    text-align: center;
    margin-top: 10px;
    background: #ccc;
    height: 80px;
    padding-top: 35px;

}

.btn {
    display: inline-block;
    background: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
}

.list-box {
    height: 200px;
    overflow-y: scroll;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.list-box ul {
    list-style: none;
    padding: 0;
}

.header {
    display: flex;
    border: 1px solid black;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    height: 50px
}

.home {

    border: 1px solid rgb(235, 225, 225);
    align-content: center;

}

.article {

    align-content: center;
    border: 1px solid rgb(235, 225, 225);

}

.about {

    align-content: center;
    border: 1px solid rgb(235, 225, 225);
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    body {
        background: red;
    }
}