/* /* .box{
    height:300px;
    width:300px;
    background-color: aqua;
    border:1px solid black;
    border-radius: 300px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

/* body{
    background-image: url("border.png"),url("ferrari.webp");
    background-repeat: no-repeat,repeat;
} */ 

.box{
    height: 100px;
    width:100px;
    box-shadow: 2px 10px 10px black
}
  img{
    border-radius: 50%;
} 
