.main{
    background-color: aqua;
    height:460px;
    display:grid;
    /* grid-template-columns:auto auto auto auto;
    grid-template-rows: auto auto auto;
    
     */
     grid-template-areas:"myarea myarea myarea myarea myarea";
    row-gap: 40px;
    column-gap:10px;
    /* justify-content:space-around; */
    /* align-content: center; */
    
    
    
}
.main div{
    height:40px;
    /* padding:2%; */
    border:2px solid black;
    background-color: beige;
    /* align-content: center;
    justify-content: center; */

}
.item1{
    /* grid-column-start:3;
    grid-column-end: 5;
    height:100px; */
    grid-area:myarea;
}
