body{
    border: 1px black;
}
.header{
    display:flex;
    background-color: rgb(44, 44, 199);
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    background-color: rgb(15, 15, 104);
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.section{
    background: white;
    display:flex;
    height: 200px;
    
}

.main{
    display: flexbox;
    border: 1px  black;
    background: #028f8f;
    height:200px;
    width:70%;
    justify-content:center ;
    align-content: center;
    text-align: center;
    

}
.aside{
     justify-content: center;
     text-align: center;
     align-content: center;
     display:flexbox;
     border:1px black;
     width:30%;
     background-color: #25a1a1;
     height:200px;


}
.cl{
    clear: both;
}
footer{
    display:flex;
    align-items: center;
    justify-content: center;
    background: aqua;
    height:80px;


}
@media screen and (max-width:500px){ 
    body {
        background: red;
    }

    .section {
        display: block;
    }
    .aside{
        width: 100%;
    }
    .main{
        width: 100%;
    }
}
