body{
    border: 1px black;
}
.header{
    background-color: rgb(44, 44, 199);
    width: 96%;
    height: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: 10px solid transparent;
    border-radius: 10px;
    border-image: url("border.png") 30 round;
    color:beige;
   
}
.header:hover{
    transform:rotatez(350deg);
}
.nav{
    background-color: rgb(15, 15, 104);
    width: 100%;
    height: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    
}
.nav:hover{
    transform: translate(50px,2px);
}
main{
    float:left;
    background-color: rgb(40, 116, 187);
    width: 69%;
    height: 200px;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
h1{
    text-shadow: -2px 2px white;
}



.aside{
     justify-content: center;
     text-align: center;
     align-content: center;
     float:right;
     border:1px black;
     width:30%;
     background-color: #25a1a1;
     height:200px;
     border: 1px solid black;
     border-radius: 10px;
     

}

.cl{
    clear: both;
}
footer{
    background: aqua;
    height:80px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    box-shadow: 1px 5px 10px blue;



}

@media screen  and (max-width:500px){ 
    body {
        background: red;
    
    }
    .header {
        width :100%;
    }
    .nav{
        width: 100%;
    }
    main{
        display: block;
        width:100%;
        
    }
    .aside{
        display:block;
        width:100%;
    }
    footer{
        display: block;
        width:100%;
    }
}
