body{
    
}
.one{
    display:inline-block;
    height :100px;
    width : 100px;
    border :1px solid black;
    gap:20px;
    background-color:blue;
}
.two{
    display:inline-block;
    height :100px;
    width : 100px;
    border :1px solid black;
    background-color: aqua;
}
.five{
    display:inline-block;
    height :100px;
    width : 100px;
    border :1px solid black;
    background-color:rgb(3, 85, 85);
}